.counter {
    color: red
}
.counterLage {
    color: purple;
}
.counter:hover {
    color: green;
}
.myReact {
    display: block;
}
.myColor {
    display: block;
    width: 170px;
}

.myColor>div>div:first-child{
    display: none;
}

